body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
  transform: scale(1.1);
}

/* MAIN CARD */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.card {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

/* IMAGE */
.card img {
  margin-top: 20px;
  border-radius: 15px;
  width: 250px;
}

/* INPUT */
input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

/* BUTTON */
button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0ea5e9;
  transform: scale(1.05);
}